<% include partials/header-inner %>
<main>
    <section id="recipes">
        <div class="container">
            <div class="wrap"><h1>Recipes</h1> <a href="/recipes/new" class="button-round">+</a></div>
            <div id="recipe-cards">
                <% recipes.forEach(function(recipe){ %>
                    <div class="card">
                        <a href="/recipes/<%= recipe.title %>">
                            <div class="thumbnail">
                                <img src="<%= recipe.image %>" alt="Recipe" class="thumbnail-image">
                            </div>
                            <div class="card-content">
                                <div class="recipe-title"><%= recipe.title %></div>
                                <div class="recipe-tags"><%= recipe.tags.join(", "); %></div>
                                <hr>
                                <div class="recipe-info">
                                    <div class="recipe-rating">
                                        <% if(recipe.rating>0){ %>
                                            <img src="/images/full-star.png" alt="Yellow Star"> <%= recipe.rating %>
                                        <% } else { %>
                                            <img src="/images/empty-star.png" alt="Gray Star"> <span>--</span>
                                        <% } %>
                                    </div>
                                    <div class="recipe-time">
                                        <img src="/images/clock.png" alt="Clock"> <%= recipe.time %>
                                    </div>
                                    <div class="recipe-difficulty">
                                        <img src="/images/difficulty.png" alt="Chef Hat"> <%= recipe.difficulty %>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                <% }); %>
            </div>
        </div>
    </section>
</main>

<% include partials/footer %>