<% include ../partials/header %>
<% include ../partials/body-inner %>
<% include ../partials/nav %>

<main>
    <section id="recipes">
        <div class="container">
            <div class="wrap"><h1>Recipes</h1> <a href="/recipes/new" class="button-round" id="new-recipe-button">&plus;</a></div>
            <div id="recipe-cards">
                <% recipes.forEach(function(recipe){ %>
                    <div class="card">
                        <a href="/recipes/<%= recipe._id %>">
                            <div class="thumbnail">
                                <img src="<%= recipe.image %>" alt="Recipe" class="thumbnail-image">
                            </div>
                            <div class="card-content">
                                <div class="recipe-title"><%= recipe.title %></div>
                                <div class="recipe-tags"><%= recipe.tags.join(", "); %></div>
                                <hr>
                                <div class="recipe-info">
                                    <div class="recipe-rating">
                                        <% var ratingSum = 0; %>
                    
                                        <% recipe.ratings.forEach(function(rating) { %>
                                            <% ratingSum += parseInt(rating.number) %>
                                        <% }); %>
                
                                        <% var averageRating = ratingSum / (recipe.ratings.length); %>
                
                                        <% if(averageRating > 0){ %>
                                            <img src="/images/full-star.png" alt="Yellow Star"> 
                                            <%= Math.round(averageRating*10)/10 %>
                                        <% } else { %>
                                            <img src="/images/empty-star.png" alt="Gray Star">
                                        <% } %>
                                    </div>
                                    <div class="recipe-time">
                                        <img src="/images/clock.png" alt="Clock"> <%= recipe.time %>
                                    </div>
                                    <div class="recipe-difficulty">
                                        <img src="/images/difficulty.png" alt="Chef Hat"> <%= recipe.difficulty %>
                                    </div>
                                </div>
                            </div>
                        </a>
                    </div>
                <% }); %>
            </div>
        </div>
    </section>
</main>

<% include ../partials/footer %>