<% include ../partials/header %>
<% include ../partials/body-inner %>
<% include ../partials/nav %>

<header class="inner-header">
    <div class="container-small">
        <div class="hero">
            <img src="<%= recipe.image %>" alt="Recipe">
        </div>
    </div>
</header>
<main id="main">
    <div class="container-small">
        <div class="card">
            <div class="card-content">
                <div class="action-buttons">
                    <a class="rate-recipe action-button">
                        <img src="/images/open-star.png" alt="Open Star">
                    </a>
                    <a href="/recipes/<%= recipe._id %>/edit" class="edit-recipe action-button">
                        <img src="/images/pencil.png" alt="Pencil">
                    </a>
                    <a class="favorite-recipe action-button">
                        <img src="/images/open-heart.png" alt="Open Heart">
                    </a>
                </div>
                <h1><%= recipe.title %></h1>
                <div class="recipe-info">
                    <div class="recipe-rating">
                        <% var ratingSum = 0; %>
                        
                        <% recipe.ratings.forEach(function(rating) { %>
                            <% ratingSum += parseInt(rating.number) %>
                        <% }); %>

                        <% var averageRating = ratingSum / (recipe.ratings.length); %>

                        <% if(averageRating > 0){ %>
                            <img src="/images/full-star.png" alt="Yellow Star"> 
                            <%= Math.round(averageRating*10)/10 %>
                        <% } else { %>
                            <img src="/images/empty-star.png" alt="Gray Star">
                        <% } %>
                    </div>
                    <div class="recipe-time">
                        <img src="/images/clock.png" alt="Clock"> <%= recipe.time %>
                    </div>
                    <div class="recipe-difficulty">
                        <img src="/images/difficulty.png" alt="Chef Hat"> <%= recipe.difficulty %>
                    </div>
                </div>
                <div class="rate-dialogue">
                    <div class="dialogue-inner">
                        <span class="close-dialogue">x</span>
                        <h2>Rate This Recipe</h2>
                        <div class="stars-wrapper">
                            <span class="rating-star"></span>
                            <span class="rating-star"></span>
                            <span class="rating-star"></span>
                            <span class="rating-star"></span>
                            <span class="rating-star"></span>
                        </div>
                        <form action="/recipes/<%= recipe._id %>/ratings" method="POST">
                            <input id="ratingInput" type="hidden" name="rating[number]" value="0">
                            <button type="submit" id="rate-recipe-button">Save</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
        <div class="recipe-tags"><strong>Categories: </strong><%= recipe.tags.join(", "); %></div>
        <div class="wrap-even">
            <section id="ingredients">
                <h2>Ingredients</h2>
                <p class="preserve-lines"><%= recipe.ingredients %></p>
            </section>
            <section id="directions">
                <h2>Directions</h2>
                <p class="preserve-lines"><%= recipe.directions %></p>
            </section>
        </div>
    </div>
    <section id="comments">
        <div class="container-small">
                <div class="wrap"><h2>Comments</h2><a href="/recipes/<%= recipe._id %>/comments/new" class="add-comment-button" id="new-comment-button">&plus;</a></div>
            <div class="comments-divider">
                <img src="/images/comments-divider.png" alt="Comments divider">
            </div>
            <% recipe.comments.forEach(function(comment) { %>
                <div class="comment">
                    <h3><%= comment.author %></h3>
                    <p><%= comment.text %></p>
                </div>
            <% }); %>
            <a href="/recipes/<%= recipe._id %>/comments/new" class="add-comment-button">Add Comment</a>
        </div>
    </section>
</main>

<% include ../partials/footer %>